:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-solid-color: #3d405b;
  --main-solid-color-light: #e0e0e0;
  --accent-color-one: #e08f79;
  --accent-color-two: #72a18a;
  --accent-color-three: #f2cc8f;
  --bg-color: #f4f1de;
  --bg-color-light: #f6f5ee;

  --border-radius: 3px;
  --border-color-light: #d4d4d4;
  --border-color-dark: #d4d4d4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--main-solid-color);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Titillium";
  src: url(TitilliumWeb-SemiBold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url(TitilliumWeb-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

*:focus-visible {
  outline: 3px solid var(--accent-color-two); /* Customize the color as needed */
  border-radius: 3px;
  outline-offset: 3px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.skip-to-main-link {
  display: block;
  padding: 5px;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: top 0.3s ease;
  color: var(--bg-color-light);
  font-size: 14px;
}

.skip-to-main-link:focus {
  top: 0;
}

.container {
  padding: 0 15px;
  width: 100%;
}

.page-header {
  padding: 10px 0 10px;
  background-color: var(--main-solid-color);
}

.page-header-links {
  display: flex;
  padding: 10px 0;
}

.page-header-about-link {
  color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  margin-right: 15px;
  position: relative;
  font-size: 16px;
}

.page-header-about-link:after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--bg-color);
}

.page-header-github-link {
  color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header-github-link svg {
  width: 25px;
  height: 25px;
  fill: var(--bg-color-light);
}

.page-title {
  font-family: "Titillium";
  margin: 0;
  color: var(--bg-color-light);
  font-size: 24px;
}

.pane-title {
  font-family: "Titillium";
  padding: 25px 0 15px;
  color: var(--main-solid-color);
  font-size: 22px;
  font-weight: normal;
}

.plans-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.plan-tile {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--border-color-dark),
    0 6px 25px 0 rgba(0, 0, 0, 0.12);
  border-radius: var(--border-radius);
  background-color: var(--bg-color-light);
  overflow: hidden;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.plan-tile-title {
  color: var(--main-solid-color);
  padding: 20px 15px 15px;
  margin-bottom: 15px;
  font-family: "Titillium";
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1.3;
  font-size: 20px;
  border-bottom: 1px solid var(--border-color-light);
}

.plan-tile--current {
  box-shadow: inset 0px 0px 0px 1px var(--main-solid-color),
    0 6px 25px 0 rgba(0, 0, 0, 0.32);
}

.plan-offer {
  padding: 10px 15px 15px;
  background-color: var(--main-solid-color);
  color: var(--bg-color-light);
  font-size: 12px;
}

.plan-features {
  padding: 0 15px 15px;
}

.plan-features li {
  padding: 5px 0;
  border-bottom: 1px solid var(--border-color-dark);
}

.plan-feature-highlight {
  font-weight: bold;
}

.plan-price {
  padding: 0 15px 20px;
  font-family: "Titillium";
  font-size: 24px;
  font-weight: normal;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.picker {
  position: relative;
  box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid var(--bg-color-light);
  padding-top: 60px;
  background-color: var(--bg-color-light);
  overflow: hidden;
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 400px;
}

.picker-offer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  background-color: var(--main-solid-color-light);
  color: var(--bg-color-light);
  font-size: 12px;
  min-height: 38px;
  transition: all 0.2s ease;
}

.picker-offer.active {
  background-color: var(--main-solid-color);
}

.picker-section {
  padding: 0 15px 15px;
}

.picker-section-title {
  font-family: "Titillium";
  margin: 5px 0 10px;
  color: var(--main-solid-color);
  font-size: 18px;
}

.picker-data-bar-wrap {
  position: relative;
}

.picker-data-bar {
  width: calc(100% - 80px);
  height: 25px;
  border: 1px solid #d4d4d4;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.picker-data-bar-total {
  height: 100%;
  background-color: var(--accent-color-two);
  position: relative;
  transition: width 0.4s ease;
}

.picker-data-bar-offer {
  height: 40px;
  background-color: var(--accent-color-one);
  transition: width 0.4s ease;
  position: absolute;
  right: 0;
}

.picker-data-btn-more,
.picker-data-btn-less {
  width: 25px;
  height: 25px;
  border-radius: var(--border-radius);
  background-color: var(--main-solid-color);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transition: background-color 0.2s ease;
}

.picker-data-btn-more:hover,
.picker-data-btn-less:hover {
  background-color: var(--main-solid-color-light);
}

.picker-data-btn-less:not(:disabled):hover:before,
.picker-data-btn-more:not(:disabled):hover:before,
.picker-data-btn-more:not(:disabled):hover:after {
  background-color: var(--main-solid-color);
}

.picker-data-btn-more:disabled,
.picker-data-btn-less:disabled {
  width: 25px;
  height: 25px;
  border-radius: var(--border-radius);
  background-color: var(--border-color-dark);
  cursor: auto;
}

.picker-data-btn-less {
  right: 35px;
}

.picker-data {
  position: absolute;
  top: -32px;
  right: 0;
}

.picker-data-gb {
  font-family: "Titillium";
  font-weight: bold;
  color: var(--main-solid-color);
  font-size: 18px;
  line-height: 1;
}

.picker-data-duration {
  font-size: 12px;
  margin-left: 5px;
  line-height: 1;
  color: var(--main-solid-color);
}

.picker-data-btn-less:before,
.picker-data-btn-more:before,
.picker-data-btn-more:after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50%;
  height: 2px;
}

.picker-data-btn-more:after {
  width: 2px;
  height: 50%;
}

.picker-data-item {
  font-size: 12px;
  border-bottom: 1px solid var(--bg-color-light);
  display: flex;
  transition: all 0.5s ease;
  overflow: hidden;
  max-height: 0;
}

.picker-data-item.active {
  max-height: 50px;
  border-bottom-color: var(--border-color-light);
}

.picker-data-item-desc {
  flex-grow: 1;
  padding: 10px 0;
}

.picker-data-item-gb {
  font-weight: bold;
  padding: 10px 0;
}

.picker-data-pill-plan,
.picker-data-pill-offer {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-bottom: -1px;
  margin-right: 7px;
  border-radius: var(--border-radius);
  background-color: var(--accent-color-two);
}

.picker-data-pill-offer {
  background-color: var(--accent-color-one);
}

.picker-offer-data-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  color: var(--main-solid-color);
  margin-right: 4px;
  margin-left: 10px;
}

.offer-highlight {
  font-weight: bold;
}

.modal-open {
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
}

.modal-content {
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
  box-shadow: 10px 11px 20px -12px rgba(0, 0, 0, 0.34);

  border-radius: var(--border-radius);
  overflow: hidden;
}

.modal-header {
  font-family: "Titillium";
  font-size: 20px;
  padding: 20px 30px 15px;
  position: relative;
  border-bottom: 1px solid var(--border-color-light);
}

.modal-close-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 40px;
  line-height: 0.5;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--main-solid-color);
}

.modal-body {
  padding: 30px 30px 45px;
  font-size: 18px;
}

.picker-calling-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px auto 0;
  position: relative;
}

.picker-calling-options li {
  flex: 1 1 0;
  text-align: center;
}

.picker-calling-options button {
  background-color: transparent;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  color: var(--main-solid-color);
  padding-top: 20px;
  padding-bottom: 10px;
}

.picker-calling-options button:hover .picker-calling-option-number,
.picker-calling-options button:focus .picker-calling-option-number {
  text-decoration: underline;
}

.picker-calling-options button.active {
  font-weight: bold;
  color: var(--main-solid-color);
}

.picker-calling-options button:disabled {
  cursor: default;
}

.picker-calling-options button:before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: var(--border-radius);
  background-color: var(--main-solid-color-light);
}

.picker-calling-options button.active:after {
  display: block;
  position: absolute;
  top: -5px;
  left: calc(50% - 3px);
  content: " ";
  transform: rotate(45deg);
  height: 8px;
  width: 6px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 3;
}

.picker-calling-options button.active:before {
  background-color: var(--main-solid-color);
}

.picker-calling-options:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--main-solid-color-light);
  background: linear-gradient(
    105deg,
    rgba(212, 212, 212, 0) 0%,
    rgba(212, 212, 212, 1) 15%,
    rgba(212, 212, 212, 1) 85%,
    rgba(212, 212, 2125, 0) 100%
  );
  position: absolute;
}

.picker-calling-option-number {
  font-size: 18px;
  font-family: "Titillium";
  font-weight: bold;
}

.picker-calling-option-unit {
  font-size: 14px;
  font-family: "Titillium";
  font-weight: normal;
}

.picker-footer {
  padding: 15px 15px 30px;
}

.picker-footer-price {
  font-family: "Titillium";
  font-weight: bold;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  text-align: center;
  margin-bottom: 15px;
}

.picker-order-cta {
  border-radius: var(--border-radius);
  background-color: var(--main-solid-color);
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px 30px;
  width: calc(100% - 60px);
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease;
  font-weight: bold;
}

.picker-order-cta:hover {
  background-color: var(--main-solid-color-light);
  color: var(--main-solid-color);
}

.about-section {
  background-color: var(--main-solid-color);
  color: var(--bg-color-light);
  font-size: 16px;
}

.about-section-content {
  padding-bottom: 60px;
}

.about-section .pane-title {
  color: var(--bg-color-light);
  margin-bottom: 15px;
}

.about-section .picker-section-title {
  color: var(--bg-color-light);
  margin: 30px 0 20px;
}

.about-section a {
  color: var(--bg-color-light);
}

.about-section p {
  margin-bottom: 15px;
}

.about-section li {
  margin-bottom: 7px;
  padding-left: 20px;
  position: relative;
}

.about-section li:before {
  content: "•";
  position: absolute;
  top: 11px;
  left: 0;
  line-height: 0;
  font-size: 25px;
}

@media (min-width: 480px) {
  .plans-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }

  .plan-tile {
    width: calc(50% - 15px);
  }
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
    width: 100%;
  }

  .page-header-content {
    display: flex;
  }

  .page-title {
    flex-grow: 1;
  }

  .page-header-links {
    padding: 0;
  }

  .picker-pane {
    padding-right: 45px;
  }

  .modal-content {
    width: 500px;
  }

  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .plan-tile {
    width: calc(33.3333% - 15px);
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .panes-content {
    display: flex;
  }

  .picker-pane {
    width: 40%;
  }
  .plans-pane {
    width: 60%;
    padding-left: 60px;
  }
}
